:root{
  --main-background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
}

/* ============== RESET ==================== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f8fafc;
}

/* ===============  Global Body ============= */
body{
  font-family: 'Inter', sans-serif;
  background: var(--main-background);
}

a{
  text-decoration: none;
}

.active{
  border-bottom: 1px solid white;
}